Theory Question
1. What are data structures, and why are they important?
- Data structures are specialized ways of organizing, storing, and managing data in a computer so that it can be used efficiently. They define the relationship between the data and the operations that can be performed on it.
2. Explain the difference between mutable and immutable data types with examples?
-  Mutable Data Types
Definition: Can be changed in place after creation (i.e., elements can be modified, added, or removed).

 Examples in Python: list, dict, set, bytearray.
Immutable Data Types
Definition: Cannot be changed after creation. Any operation that seems to modify them actually creates a new object.

 Examples in Python: int, float, str, tuple, bool, frozenset.
3.  What are the main differences between lists and tuples in Python?
- List: You can add, remove, or change elements.

 Tuple: Once created, elements cannot be changed.
4. Describe how dictionaries store data?
- A dictionary in Python is an unordered collection of key-value pairs, where each key is unique, and each key maps to a specific value.
5. Why might you use a set instead of a list in Python?
- ou might use a set instead of a list in Python when:

  You need unique elements (sets automatically remove duplicates)

  Fast membership testing is needed (in is faster in sets than in lists)

 Order doesn’t matter (sets are unordered)
6. What is a string in Python, and how is it different from a list?
- A string in Python is a sequence of characters enclosed in quotes (single, double, or triple).
7.  How do tuples ensure data integrity in Python?
- Tuples help ensure data integrity because they are immutable, meaning their contents cannot be changed once created.
8.  What is a hash table, and how does it relate to dictionaries in Python?
- A hash table is a data structure that stores key-value pairs and allows fast data access using a process called hashing.
9. Can lists contain different data types in Python?
- Python lists are heterogeneous, meaning they can hold elements of any type, all in the same list.
10.  Explain why strings are immutable in Python?
- Strings are immutable in Python to provide:

 Efficient memory use

 Safe sharing of data

 Support for being dictionary keys

 Predictable behavior

 This design choice contributes to Python’s clarity, simplicity, and reliability.
11. What advantages do dictionaries offer over lists for certain tasks?
- Dictionaries offer several key advantages when you're working with key-value relationships or need efficient lookups.
12. Describe a scenario where using a tuple would be preferable over a list?
- Suppose you're working with a 2D game or a mapping application, and you need to store the (x, y) coordinates of points on a grid.What is a nested dictionary, and give an example of its use case3
13. How do sets handle duplicate values in Python?
- In Python, sets automatically remove duplicate values. A set is a collection of unique, unordered elements.
14. How does the “in” keyword work differently for lists and dictionaries?
- n a list, "in" looks for a value in the sequence.

 In a dictionary, "in" checks only for keys, not values.
15. Can you modify the elements of a tuple? Explain why or why not?
- No, you cannot modify the elements of a tuple in Python.
 why? Because Tuples Are Immutable
 A tuple is an immutable sequence type.

 nce it's created, its elements cannot be changed, added, or removedWhy Tuples Are Immutable:
  Data Integrity: Prevents accidental modification of fixed data.

  Hashability: Tuples can be used as keys in dictionaries or elements in sets (only possible if all elements are also immutable).

  Efficiency: Faster and more memory-efficient than lists for fixed collections.

 If a tuple contains a mutable object (like a list), you can modify the contents of that object, but not the tuple structure.
16. What is a nested dictionary, and give an example of its use case?
- A nested dictionary is a dictionary where values themselves are dictionaries.
It allows you to represent hierarchical or structured data.
17. Describe the time complexity of accessing elements in a dictionary?
- Accessing elements in a dictionary is typically O(1), making it very efficient for lookups.
18. In what situations are lists preferred over dictionaries?
- Use lists for ordered, indexed, and simple collections where key-value mapping isn’t needed.
19. Why are dictionaries considered unordered, and how does that affect data retrieval?
- Dictionaries are designed for key-based fast access, not for ordered or positional data use—though insertion order is now preserved in modern Python.
20.  Explain the difference between a list and a dictionary in terms of data retrieval.?
- List: Use when accessing items by position in a sequence.

 Dictionary: Use when accessing items by a unique key for faster, more meaningful lookups.

In [1]:
# Write a code to create a string with your name and print it#
# Create a string with your name
my_name = "Sanika Junghare"

# Print the string
print("My name is:", my_name)

My name is: Sanika Junghare

In [2]:
# Write a code to find the length of the string "Hello World#
# Define the string
text = "Hello World"

# Find and print the length
length = len(text)
print("Length of the string is:", length)

Length of the string is: 11

In [3]:
# Write a code to slice the first 3 characters from the string "Python Programming#
# Define the string
text = "Python Programming"

# Slice the first 3 characters
sliced_text = text[:3]

# Print the result
print("First 3 characters:", sliced_text)

First 3 characters: Pyt

In [4]:
# Write a code to convert the string "hello" to uppercase#
# Define the string
text = "hello"

# Convert to uppercase
upper_text = text.upper()

# Print the result
print("Uppercase:", upper_text)

Uppercase: HELLO

In [5]:
# Write a code to replace the word "apple" with "orange" in the string "I like apple"#
# Original string
text = "I like apple"

# Replace "apple" with "orange"
new_text = text.replace("apple", "orange")

# Print the result
print("Updated string:", new_text)

Updated string: I like orange

In [6]:
#Write a code to create a list with numbers 1 to 5 and print it#
# Create a list with numbers 1 to 5
numbers = [1, 2, 3, 4, 5]

# Print the list
print("List of numbers:", numbers)

List of numbers: [1, 2, 3, 4, 5]

In [7]:
# P Write a code to append the number 10 to the list [1, 2, 3, 4]#
# Original list
numbers = [1, 2, 3, 4]

# Append 10 to the list
numbers.append(10)

# Print the updated list
print("Updated list:", numbers)

Updated list: [1, 2, 3, 4, 10]

In [8]:
# Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]#
# Original list
numbers = [1, 2, 3, 4, 5]

# Remove the number 3
numbers.remove(3)

# Print the updated list
print("Updated list:", numbers)

Updated list: [1, 2, 4, 5]

In [9]:
# Write a code to access the second element in the list ['a', 'b', 'c', 'd']#
# Define the list
letters = ['a', 'b', 'c', 'd']

# Access the second element (index 1)
second_element = letters[1]

# Print the result
print("Second element:", second_element)

Second element: b

In [11]:
# Write a code to reverse the list [10, 20, 30, 40, 50].#
# Original list
numbers = [10, 20, 30, 40, 50]

# Reverse the list
numbers.reverse()

# Print the reversed list
print("Reversed list:", numbers)

Reversed list: [50, 40, 30, 20, 10]

In [10]:
# Write a code to create a tuple with the elements 100, 200, 300 and print it.#
# Create a tuple
my_tuple = (100, 200, 300)

# Print the tuple
print("Tuple:", my_tuple)

Tuple: (100, 200, 300)

In [12]:
#  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')#
# Define the tuple
colors = ('red', 'green', 'blue', 'yellow')

# Access the second-to-last element
second_last = colors[-2]

# Print the result
print("Second-to-last element:", second_last)

Second-to-last element: blue

In [13]:
# Write a code to find the minimum number in the tuple (10, 20, 5, 15).#
# Define the tuple
numbers = (10, 20, 5, 15)

# Find the minimum number
minimum = min(numbers)

# Print the result
print("Minimum number:", minimum)

Minimum number: 5

In [14]:
# Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').#
# Define the tuple
animals = ('dog', 'cat', 'rabbit')

# Find the index of "cat"
index = animals.index("cat")

# Print the result
print("Index of 'cat':", index)

Index of 'cat': 1

In [15]:
# Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.#
# Create a tuple of fruits
fruits = ("apple", "banana", "mango")

# Check if "kiwi" is in the tuple
if "kiwi" in fruits:
    print("Kiwi is in the tuple.")
else:
    print("Kiwi is not in the tuple.")

Kiwi is not in the tuple.

In [16]:
# Write a code to create a set with the elements 'a', 'b', 'c' and print it.#
# Create a set
my_set = {'a', 'b', 'c'}

# Print the set
print("Set:", my_set)

Set: {'b', 'a', 'c'}

In [17]:
#  Write a code to clear all elements from the set {1, 2, 3, 4, 5}.#
# Define the set
my_set = {1, 2, 3, 4, 5}

# Clear the set
my_set.clear()

# Print the result
print("Cleared set:", my_set)

Cleared set: set()

In [18]:
#  Write a code to remove the element 4 from the set {1, 2, 3, 4}.#
# Define the set
my_set = {1, 2, 3, 4}

# Remove the element 4
my_set.remove(4)

# Print the updated set
print("Updated set:", my_set)

Updated set: {1, 2, 3}

In [20]:
#  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.#
# Define the sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}

# Find the union
union_set = set1.union(set2)

# Print the result
print("Union of sets:", union_set)

Union of sets: {1, 2, 3, 4, 5}

In [21]:
# Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.#
# Define the sets
set1 = {1, 2, 3}
set2 = {2, 3, 4}

# Find the intersection
intersection_set = set1.intersection(set2)

# Print the result
print("Intersection of sets:", intersection_set)

Intersection of sets: {2, 3}

In [22]:
#  Write a code to create a dictionary with the keys "name", "age", and "city", and print it#
# Create the dictionary
person = {
    "name": "Alice",
    "age": 25,
    "city": "Mumbai"
}

# Print the dictionary
print("Person Dictionary:", person)

Person Dictionary: {'name': 'Alice', 'age': 25, 'city': 'Mumbai'}

In [23]:
#  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}#
# Original dictionary
person = {'name': 'John', 'age': 25}

# Add new key-value pair
person['country'] = 'USA'

# Print the updated dictionary
print("Updated dictionary:", person)

Updated dictionary: {'name': 'John', 'age': 25, 'country': 'USA'}

In [24]:
# Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.#
# Define the dictionary
person = {'name': 'Alice', 'age': 30}

# Access the value of the key "name"
name_value = person['name']

# Print the result
print("Name:", name_value)

Name: Alice

In [25]:
# Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.#
# Define the dictionary
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}

# Remove the key "age"
person.pop('age')

# Print the updated dictionary
print("Updated dictionary:", person)

Updated dictionary: {'name': 'Bob', 'city': 'New York'}

In [26]:
# Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.#
# Define the dictionary
person = {'name': 'Alice', 'city': 'Paris'}

# Check if "city" key exists
if "city" in person:
    print("Key 'city' exists in the dictionary.")
else:
    print("Key 'city' does not exist.")

Key 'city' exists in the dictionary.

In [27]:
#Write a code to create a list, a tuple, and a dictionary, and print them all #
# Create a list
my_list = [1, 2, 3, 4, 5]

# Create a tuple
my_tuple = ('apple', 'banana', 'cherry')

# Create a dictionary
my_dict = {'name': 'Alice', 'age': 25, 'city': 'Delhi'}

# Print all three
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'Alice', 'age': 25, 'city': 'Delhi'}

In [29]:
# Write a code to create a list with strings and print the element at the third index.#
# Create a list with strings
fruits = ["apple", "banana", "cherry", "date", "elderberry"]

# Access and print the element at the third index
print("Element at index 3:", fruits[3])

Element at index 3: date

In [30]:
# Write a code to combine two dictionaries into one and print the result#
# Define two dictionaries
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

# Combine dictionaries (Python 3.9+)
combined_dict = dict1 | dict2

# Print the combined dictionary
print("Combined dictionary:", combined_dict)

Combined dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [31]:
#  Write a code to convert a list of strings into a set.#
# Define a list of strings
string_list = ["apple", "banana", "apple", "cherry", "banana"]

# Convert the list to a set to remove duplicates
string_set = set(string_list)

# Print the set
print("Set:", string_set)

Set: {'cherry', 'banana', 'apple'}